.about-us h2 {
    margin-block: 1em;
}

.about-us p {
    margin-block-end: 1em;
}

.about-us>.site-action {
    background-color: var(--color2);
}

.about-us>.site-action>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.about-us>.site-action>ul>li {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    text-wrap: pretty;
}

.about-us>.site-action>ul>li img {
    width: 120px;
    aspect-ratio: 1/1;
}

@media (min-width: 800px) {
    .about-us>.site-action>ul {
        flex-direction: row;
        align-items: center;
    }

}