.bug-details h3 {
    margin: 1em 0;
}

.bug-details>.bug-info {
    background-color: var(--bg2);
    color: var(--color1);
    padding: 1em 0.5em;
    border-radius: 0.2em;
}

.bug-details h5 {
    margin: 1em 0;
    font-size: 1.1em;
}

.bug-details h5 span {
    color: red;
}

.bug-details p {
    font-weight: bold;
}

.bug-details p>span {
    font-weight: normal;
}

.bug-details hr {
    margin: 1em 0;
}

.bug-details a {
    width: max-content;
}