.bug-filter {
    background-color: var(--color3);
    color: black;
    border-radius: 0.2em;
    padding: 1em;
    text-align: center;
}

.bug-filter h2 {
    margin-bottom: .5em;
}

.bug-filter form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5em;
}

.bug-filter .labels-title,
.bug-filter>form>label {
    grid-column: 1;
    text-align: start;
    margin-inline-start: 1em;
    font-size: 0.8em;
}

.bug-filter .labels-picker,
.bug-filter input {
    grid-column: 2;
}


@media (min-width: 800px) {

    .bug-filter .labels-title,
    .bug-filter>form>label {
        font-size: 1em;
    }
}