.bug-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;

    padding: 0;
    list-style: none;
}

.bug-list li {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    gap: 1em;

    padding: .7em;
    background-color: var(--bg2);
    border-radius: .2em;

    color: whitesmoke;

    transition: all .25s;

    &:hover {
        box-shadow: 0 1px 5px var(--bg3);
        filter: brightness(1.1);
    }
}

.bug-list .actions {
    display: flex;
    gap: .3em;
}

.bug-list .actions button:last-child {
    margin-inline-start: auto;
}

.bug-list li.severity1 {
    background-color: var(--sv1);
}

.bug-list li.severity2 {
    background-color: var(--sv2);
}

.bug-list li.severity3 {
    background-color: var(--sv3);
}

.bug-list li.severity4 {
    background-color: var(--sv4);
}

.bug-list li.severity5 {
    background-color: var(--sv5);
}