.bug-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;

    padding: 0;
    list-style: none;
}

.bug-list li {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    gap: 0.8em;

    padding: .7em;
    background-color: var(--color2);
    border-radius: .2em;
    box-shadow: 0 1px 5px var(--bg3);

    color: black;

    transition: all .25s;

    &:hover {
        box-shadow: 0 2px 7px var(--bg3);
        filter: brightness(1.02);
    }
}

.bug-list .actions {
    display: flex;
    gap: .3em;
}

.bug-list .actions button:last-child {
    margin-inline-start: auto;
}