.bug-preview {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
}

.bug-preview .title {
    display: block;
    white-space: normal;

    font-weight: bold;
}

.bug-preview .title span,
.bug-preview .title .bug-label {
    vertical-align: middle;
}

.bug-preview .bug-label {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    border: 0;
    border-radius: .2em;
    padding: 0.4em;
    background-color: var(--bg2);
    color: whitesmoke;
    transition: filter .2s;
    font-size: 0.7em;
    box-shadow: 0 1px 5px var(--bg1);
    cursor: auto;

    &:hover {
        filter: brightness(1);
    }
}

.bug-preview .severity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: .3em;
}

.bug-preview .severity span:first-of-type {
    justify-self: start;
}

.bug-preview .severity span:last-of-type {
    width: 1.5em;
    aspect-ratio: 1/1;
    text-align: center;

    align-content: center;
    border-radius: 50%;
    font-weight: bold;
}


.severity>.severity-num1 {
    outline: 6px solid rgb(2, 166, 65);
}

.severity>.severity-num2 {
    outline: 6px solid rgb(176, 229, 42);
}

.severity>.severity-num3 {
    outline: 6px solid rgb(238, 234, 2);
}

.severity>.severity-num4 {
    outline: 6px solid rgb(255, 145, 0);
}

.severity>.severity-num5 {
    outline: 6px solid rgb(255, 0, 0);
}