.bug-preview {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
}

.bug-preview .title {
    font-weight: bold;
    font-size: 1.1em;
}

.bug-preview .severity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: .3em;
}

.bug-preview .severity span:last-of-type {
    width: 2em;
    aspect-ratio: 1/1;
    text-align: center;

    align-content: center;
    border-radius: 50%;
    font-weight: bold;
}

.bug-preview .severity>.severity-num1 {
    outline: 6px solid rgb(2, 166, 65);
}

.bug-preview .severity>.severity-num2 {
    outline: 6px solid rgb(176, 229, 42);
}

.bug-preview .severity>.severity-num3 {
    outline: 6px solid rgb(238, 234, 2);
}

.bug-preview .severity>.severity-num4 {
    outline: 6px solid rgb(255, 145, 0);
}

.bug-preview .severity>.severity-num5 {
    outline: 6px solid rgb(255, 0, 0);
}