body {
    font-family: Orbitron, Arial, sans-serif;
    letter-spacing: 0.08em;

    background-color: var(--bg1);
    background-image: url(./../../img/backgound.png),
        linear-gradient(to right top, #0f8a5f, #1cb978, #17d267);
    background-position: center;
    backdrop-filter: blur(1px);
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    font-family: PixelifySans, Arial, sans-serif;
    margin: 2px;
    border: 0;
    border-radius: .2em;
    padding: 6px 10px;
    background-color: var(--bg3);
    color: whitesmoke;
    cursor: pointer;
    transition: filter .2s;
    font-size: 1em;
    box-shadow: 0 1px 5px var(--bg1);
}

button.active,
button:hover {
    color: var(--color2);
    filter: brightness(1.5);
}

button:disabled {
    color: black;
    cursor: auto;

    &:hover {
        filter: brightness(1);
    }
}


hr {
    display: block;
    border: 0;
    border-top: 1px solid var(--bg3);
}

input {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}